
td.status {
	width: 100px;
}

td.rolename {
	width: 300px;
}

td.permission {
	width: 300px;
}

td.username {
	width: 500px;
}

td.old {
	width: 60px;
}

td.true_col {
	color: blue;
}

td.new {
	width: 60px;
}

td.false_col {
	color: red;
}

td.up_col {
	color: green;
}

td.down_col {
	color: red;
}

span#role_user_info {
	display: block;
	padding: 5px;
	background: rgb(220, 220, 220);
	text-align: center;
	color: grey;
	font-size: 18px;
}

span#role_user_info span {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
