
td.status {
	width: 100px;
}

td.status_added {
	color: green;
}

td.rolename {
	width: 30%;
}

td.permission {
	width: 300px;
}

td.status_rm {
	color: red;
}

td.old {
	width: 60px;
}

td.true_col {
	color: blue;
}

td.new {
	width: 60px;
}

td.false_col {
	color: red;
}