
html {
	padding: 0;
	margin: 0;
}

body {
	font-family: Roboto;
	background: rgb(240, 240, 240);
	padding: 0;
	margin: 0;
}

.codeblock {
	
}

.codeblock_s {
	
}

span.header {
	display: block;
	width: auto;
	background: white;
	height: 40px;
	border-bottom: solid 1px rgb(220, 220, 220);
	padding: 4px;
	text-align: center;
	margin-bottom: 25px;
}

#htext {
	float: left;
	width: 130px;
	font-family: Hack;
	font-size: 18px;
	color: grey;
	margin: 0;
	margin-top: 8px;
}

span.pagename {
	display: block;
	padding-top: 8px;
	font-size: 20px;
	width: 700px;
	text-align: left;
}