
td.old_username {
	width: 300px;
}

td.new_username {
	width: 300px;
}

td.just_arrow {
	width: 70px;
}

td.username {
	width: 300px;
}

td.total_used {
	width: 200px;
}

td.last_used {
	width: 500px;
}

td.first_used {
	width: 500px;
}