
// This is a config file for this bot
// Copy this file into config.js

module.exports = {
	// Bot login token
	token: 'MjQ4Nzxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
	
	// Google search token
	google: 'AIzaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
	google_enable: true,
	
	// Tumblr API token
	tumblr: '6RO3cAAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
	tumblr_enable: true,
	
	// Yandex Translation API key
	yandex_tr: 'trnsl.1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
	yandex_tr_enable: true,
	
	// Steam API key
	steam: 'A670xxxxxxxxxxxxxxxxxxx',
	steam_enable: true,
	
	// PostgreSQL database connection options
	
	// Hostname
	sql_hostname: 'localhost',
	
	// Port
	// env var: PGPORT
	sql_port: 5432,
	
	// Username of database. It can be superuser, or not.
	// env var: PGUSER
	sql_user: 'notdbot',
	
	// User password of database
	// env var: PGPASSWORD
	sql_password: 'notdbot',
	
	// Name of database to use
	// env var: PGDATABASE
	sql_database: 'notdbot',

	// Path to web server bot directory (not to root of your web server)
	// Should be readable by web server process. Should be writable by bot process.
	webroot: '/home/dbot_bot/www',
	
	// [prefix] to all URLs that bot sends
	webpath: 'dbot.serealia.ca/bot',
	
	// The protocol that server uses. It can be http or https
	protocol: 'https',
}