
extends report_base

//- 
//- Copyright (C) 2016-2017 DBot. All other content, that was used, but not created in this project, is licensed under their own licenses, and belong to their authors.
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-      http://-www.apache.org/licenses/LICENSE-2.0
//-  
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//- 

block append header
	link(rel='stylesheet', href='../emojione.sprites.css')
	style.
		span.emoji {
			width: 64px;
			height: 64px;
			display: inline-block;
		}
		
		span.emoji_container {
			width: 96px;
			height: 64px;
			display: inline-block;
			padding: 5px;
			padding-top: 8px;
			margin: 8px;
			background: rgb(230, 230, 230);
		}
		
		span.emoji_count {
			margin-left: 8px;
		}
		
		span.hintfix {text-indent: initial; margin-top: 70px;}

block append contents
	span#user_ratings
		for em in data
			span.emoji_container
				span(class=`emoji emojione emojione-${em.id} hintp`)
					span.hint.hintfix= em.name
				span.emoji_count= em.count



