
extends report_base

block append header
	link(rel='stylesheet', href='../generic_roles.css')

block append contents
	table#perms
		tr.tabheader
			td.rolename Rolename
			td.old old
			td.new new
			td.date Date
		each row in data
			tr
				if row.new
					td.rolename.true_col= row.name
				else
					td.rolename.false_col= row.name

				if row.old
					td.old.true_col true
				else
					td.old.false_col false
				
				if row.new
					td.new.true_col true
				else
					td.new.false_col false
				
				td.date= row.date